body {
    background-color: black;
}

.titel {
    color: red;
    text-align: center;
    Font-size: 2.5em;
}

h1 {
    color: white;
    font-size: 1.3em;
    font-weight: bolder;
}

.item {
    color: white;
    font-size: 1em;
    line-height: 0.3em;
}

.note {
    opacity: 90%;
    background-color: lightblue;
}

.skip {
    opacity: 90%;
    background-color: lightblue;
    border-color: lightblue;

}

.selection {
    background-color: black;
    border-color: white;
    border-style: solid;
    border-width: 0.3em;
    width: 40em;
}

.collected {
    color: greenyellow;
}

.skipped {
    color: gray;
}

.skip-label {
    color: gray;
    font-size: 0.8em;
    margin-left: 5px;
}
#total-counter {
    font-size: 1em;
    margin: 10px 0;
    font-weight: bold;
    color: white;
}
.collected{
    background-color: black;
    border-color: black;
}
.oot{
    color:white;
    font-weight: 900;
    font-size: 2em;
}

#tracker-container {
    display: flex;
}


#main-tracker {
    flex: 1; 
    min-width: 40em; 
    padding: 20px;
}

#item-tracker-wrapper {
    position: fixed;       
    top: 20px;            
    right: 20px;           
    width: 200px;          
    background-color: black; 
    padding: 10px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#item-tracker {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.tracker-item {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.tracker-item.collected {
    opacity: 0;
}
#filter-container {
    margin: 10px auto;
    text-align: center;
}

#filter-input {
    padding: 8px 12px;
    width: 50%;
    font-size: 1em;
    border: 2px solid lightblue;
    border-radius: 5px;
    background-color: black;
    color: white;
}